<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>

    <h3><%= 1+2 %></h3>  
    <!-- for value finding in ejs tags  -->

    <h3><%= "aksh".toUpperCase() %></h3>  
    <h3><%= ["hello", " aksh"] %></h3>  

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Saepe, exercitationem quam! Ut rerum totam architecto harum 
        cum distinctio deserunt iste corporis quod aliquid libero quis, 
        modi alias porro, temporibus odit consectetur consequatur, nisi cumque 
        eos culpa a numquam repellat dolorum! Quam fuga rerum ratione quidem doloribus adipisci 
        dolore pariatur est?</p>
    
    <button>Click me!</button>
</body>
</html>